name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Linux dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3 python3-pip python3-setuptools python3-dev \
            build-essential git zip unzip \
            openjdk-17-jdk pkg-config \
            libltdl-dev autoconf automake libtool \
            zlib1g zlib1g-dev libffi-dev libssl-dev

      - name: Install Cython & Buildozer
        run: |
          pip install --upgrade pip
          pip install cython buildozer

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-apk
          path: bin/*.apk
